body {
  background-color: black;
}

div {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

img {
  width: 100%;
  border: 5px solid white;
  margin-top: 50px;
}

h1 {
  color: white;
  font-family: "Libre Baskerville", serif;
}

p {
  color: white;
}
